/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #2e2f2f;
  line-height: 25px;
}

h1 {
  font-size: 48px;
  color: #df28bb;
  margin-bottom: 20px;
}

h2 {
  color: #29aab2;
  margin-bottom: 20px;
}

ul {
  padding-left: 40px;
}

main {
  width: 75%;
  margin: auto;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

#atividades {
  border-top: 1px solid white;
  padding: 25px 0;
}

section {
  margin-bottom: 25px;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 60px;
}